.st-key-butt1 button{
    background-color: #007c80;
    border-radius: 0%;
    border-top: 3px solid white ;
    border-left: 3px solid white ;
    height: 100px;
}

.st-key-butt2 button{
    background-color: #007c80;
    border-radius: 0%;
    border-left: 3px solid white ;
    border-bottom: 3px solid white ;
    height: 100px;
}

.st-key-butt3 button{
    background-color: #007c80;
    border-radius: 0%;
    border-left: 3px solid white ;
    border-top: 3px solid white ;
    height: 50px;
}

.st-key-butt4 button{
    background-color: #007c80;
    border-radius: 0%;
    border-left: 3px solid white ;
    border-bottom: 5px solid #bb4b0f ;
    height: 50px;
}

.st-key-butt5 button{
    background-color: #007c80;
    border-radius: 0%;
    border-left: 3px solid white ;
    border-top: 5px solid #bb4b0f ;
    height: 50px;
}

.st-key-butt6 button{
    background-color: #007c80;
    border-radius: 0%;
    border-left: 3px solid white ;
    border-bottom: 3px solid white ;
    height: 50px;
}

.st-key-butt7 button{
    background-color: #007c80;
    border-radius: 0%;
    border-left: 3px solid white ;
    border-top: 3px solid white ;
    border-bottom: 3px solid white ;
    height: 200px;
}

.st-key-butt8 button{
    background-color: #007c80;
    border-radius: 0%;
    border-top: 3px solid white ;
    height: 100px;
}

.st-key-butt9 button{
    background-color: #007c80;
    border-radius: 0%;
    border-bottom: 3px solid white ;
    height: 100px;
}


.st-key-butt10 button{
    background-color: #007c80;
    border-radius: 0%;
    border-top: 3px solid white ;
    height: 50px;
}

.st-key-butt11 button{
    background-color: #007c80;
    border-radius: 0%;
    border-bottom: 5px solid #bb4b0f ;
    height: 50px;
}

.st-key-butt12 button{
    background-color: #007c80;
    border-radius: 0%;
    border-top: 5px solid #bb4b0f ;
    height: 50px;
}

.st-key-butt13 button{
    background-color: #007c80;
    border-radius: 0%;
    border-bottom: 3px solid white ;
    height: 50px;
}

.st-key-butt14 button{
    background-color: #007c80;
    border-radius: 0%;
    border-top: 3px solid white ;
    border-bottom: 3px solid white ;
    height: 200px;
}

.st-key-butt15 button{
    background-color: #007c80;
    border-radius: 0%;
    border-top: 3px solid white ;
    border-right: 3px solid white ;
    height: 100px;
}

.st-key-butt16 button{
    background-color: #007c80;
    border-radius: 0%;
    border-right: 3px solid white ;
    border-bottom: 3px solid white ;
    height: 100px;
}


.st-key-butt17 button{
    background-color: #007c80;
    border-radius: 0%;
    border-right: 3px solid white ;
    border-top: 3px solid white ;
    height: 50px;
}

.st-key-butt18 button{
    background-color: #007c80;
    border-radius: 0%;
    border-right: 3px solid white ;
    border-bottom: 5px solid #bb4b0f ;
    height: 50px;
}

.st-key-butt19 button{
    background-color: #007c80;
    border-radius: 0%;
    border-right: 3px solid white ;
    border-top: 5px solid #bb4b0f ;
    height: 50px;
}

.st-key-butt20 button{
    background-color: #007c80;
    border-radius: 0%;
    border-right: 3px solid white ;
    border-bottom: 3px solid white ;
    height: 50px;
}

.st-key-butt21 button{
    background-color: #007c80;
    border-radius: 0%;
    border-right: 3px solid white ;
    border-top: 3px solid white ;
    border-bottom: 3px solid white ;
    height: 200px;
}

